*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
   /* background-color: #712091;*/
}
.header{
    background-color: rgb(245, 183, 13);
    display: flex;
    align-items: center;
}
h1{
    color: white;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.main_note {
    width: 500px;
    padding: 15px 10px 5px 10px;
    margin: 20px auto;
}
form {
    min-height: 50px;
    color: white;
    padding: 15px 10px 5px 10px;
    box-shadow: 3px 5px 15px -5px black;
    border-radius: 10px;
    position: relative;
  }
  input {
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
  }
  textarea {
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 10px 0;
  }
  .btn_p{
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: -28px;
    left: 400px;
    cursor: pointer;
    background-color: #fff !important ;
    box-shadow: 5px 5px 15px -5px black;
    border-radius: 50% !important;
  }
  .btn_p:hover {
    background: #f4b400 !important;
  }
 .btn_p :hover .plus_Sign {
    /* background: #f4b400 !important; */
    color: #fff;
    background: transparent;
  }
  .plus_Sign {
    font-size: 45px !important;
    font-weight: 900;
    color: #f4b400;
    cursor: pointer;
    z-index: 222;
    background: transparent;
  }
  .plus_Sign:hover  {
    /* background: #f4b400 !important; */
    color:#f4b400;
    background-color:white;
  }
  .deleteIcon{
    width: 0.7em;
    height: 0.7em;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    color: black;
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .note .btn {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f4b400;
    border: none;
    width: 50px;
    height: 50px;
    background: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, alpha);
    border-radius: 50%;
  }